# Compiled Java class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machines crash logs
hs_err_pid*
replay_pid*

# --- Build Tools ---

# Maven output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.war
pom.xml.gpg
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle output
.gradle
build/
!src/**/build/
gradle-app.setting
.gradletasknamecache

# --- IDEs and Editors ---

# Visual Studio Code
.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Eclipse
.metadata
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# --- Operating System Files ---
.DS_Store
Thumbs.db

